<div class="row">
    <% meetings.each do |m| %>
    <div class="col-md-6 col-lg-4">
        <div class="card card-meeting">
            <!-- <div class="header-image" background="https://unsplash.it/1200/800" alt=""></div> -->
            <!-- # <div class="header-image" style="background-image: url('https://unsplash.it/900/800')"></div> -->
            <div class="header-image" style="background-image: url(<%= set_industry_image(m.user) %>)"></div>

            <%= link_to profile_user_path(m.user) do %>
            <div class='div-center'><%= image_tag m.user.avatar_url, class: 'header-avatar' %></div>
            <% end %>

            <div class="content text-center">
                <h4><%= m.user.first_name %>
                    <%= m.user.last_name %></h4>
                <h6><%= m.user.industry %>
                    <%= m.user.profile %></h6>
                <hr>
                <%= link_to meeting_path(m) do %>
                <h3><%= m.title.first(30) %></h3>
                <p><%= m.description.first(140) %></p>
                <% end %>
                <hr>
                <p>
                    <i class="fa fa-calendar"></i>
                    <%= m.date.strftime("%d %b, %Y") %> - <%= m.date.strftime("%I:%M%P") %></p>
                <p>
                    <i class="fa fa-map-marker"></i>
                    <%= m.local %></p>
                <div class="btn-card-position"><%= link_to 'Join', new_meeting_booking_path(m), class: 'btn btn-primary' %></div>
            </div>
        </div>
    </div>
    <% end %>
</div>
