<div class="container">
    <div class="row">
        <div class="col-md-6 col-lg-10 col-lg-offset-1">
            <div class="card card-meeting card-auto">
                <div class="header-image" style="background-image: url(<%= set_industry_image(@user) %>)"></div>
                <div class='div-center'><%= image_tag avatar_url?(@user), class: 'img-2x' %></div>
                <div class="content-user text-center">
                    <h1><%= @user.first_name %>
                        <%= @user.last_name %></h1>
                    <h4><%= @user.industry %>
                        |
                        <%= @user.profile %></h4>
                    <%= link_to @user.linkedin_url, target: 'blank' do %>
                    <h5>
                        <i class="fa fa-linkedin-square"></i>Linkedin</h5>
                    <% end %>
                    <hr>
                    <p><%= @user.biography %></p>
                </div>
            </div>

        <% if @meetings.present? %>
                <hr class="padded-top">
                  <h2 class="text-center">Join one of my meetings</h2>
                  <%= render '/meetings/meetings', meetings: @meetings  %>
        <% end %>
      </div>
</div>
